.ohms-item-video {
  position: relative;
  height: 1150px;
  overflow: hidden;
}
 
.ohms-item-video iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ohms-item-audio {
  position: relative;
  height: 950px;
  overflow: hidden;
}
 
.ohms-item-audio iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
